.title-card {
    max-width: 372px;        
    padding: 13px, 14px, 0px, 13px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}
.container-two_card-one {    
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
   

}
.container-two_card-two {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative; 
    align-items: center;  
    justify-content: center;     
    border: 1px solid black;
    
}
