.title-card {
    max-width: 372px;        
    padding: 13px, 14px, 0px, 13px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}
.container-two_card-one {
    width: 60%;
    display: flex;
    flex-direction: column;

}
.container-two_card-two {
    width: 40%;
    display: flex;
    flex-direction: row;
    
}