p {
font-family: 'Aleo', serif;
color: white;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 1.6px;
}
.btn-txt {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
}