@import 'fonts';
@import 'card';
@import 'nav';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-one {
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    background-image: url(../images/mountains.png);
    background-position: center;
    background-size: cover;
    display: flex;  
    align-items: center;
    justify-content: center;  
}
.container-two {
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    background-image: url(../images/city.png);
    background-position: center;
    background-size: cover;    
} 
.container-three {
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    background-image: url(../images/house.png);
    background-position: center;
    background-size: cover;    
}
.container-four {
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    background-image: url(../images/sea.png);
    background-position: center;
    background-size: cover;    
}
.container-five {
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    background-image: url(../images/hiker.png);
    background-position: center;
    background-size: cover;    
}
.search-bar {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}