li {
    list-style: none;
    text-decoration: none;
    font-family: 'Aleo';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: white
    
}
nav {
    background: #5474FD;
    height: 80px;
    width: 100%;  
    padding-left: 20px; 
    padding-right: 20px;
    position: relative; 

}
label.logo {
    color: white;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
    text-align: left;
    position: relative;
    top: 30px;
    left: 30px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    flex-wrap: wrap;
}
ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white
    
}
a:hover {
    background: rgb(84, 84, 243);
    transition: .5s;
}
@media screen and (max-width: 600px) {
    ul.nav li.right, 
    ul.nav li {float: none;}
  } 
 